# This is a sample config file for CPU2006. It was tested with:
#
#      Compiler name/version:       [gcc, g++, gfortran 4.3.4]
#                                   [gcc, g++, gfortran 4.4.4]
#                                   [gcc, g++, gfortran 4.6.0]
#      Operating system version:    [SLES 11 SP1, 64-bit, gcc 4.3.4 and 4.6.0]
#                                   [RHEL 6, 64-bit, gcc 4.4.4]
#      Hardware:                    [Opteron]
#
# If your platform uses different versions, different
# hardware or operates in a different mode (for
# example, 32- vs. 64-bit mode), there is the possibiliy
# that this configuration file may not work as-is.
#
# Note that issues with compilation should be directed
# to the compiler vendor. Information about SPEC techncial
# support can be found in the techsupport document in the
# Docs directory of your benchmark installation.
#
# Also note that this is a sample configuration. It
# is expected to work for the environment in which
# it was tested; it is not guaranteed that this is
# the config file that will provide the best performance.
#
# Note that you might find a more recent config file for
# your platform with the posted results at
# www.spec.org/cpu2006
####################################################################
# AMD64 (64-bit) gcc 4.3, 4.4 and 4.6 config file 
# Sample Config file for CPU2006 
#####################################################################

ignore_errors = yes
tune          = base
basepeak      = yes
# Select and/or modify as needed
ext           = gcc43-64bit
#ext           = gcc44-64bit
#ext           = gcc46-64bit
output_format = asc,csv,html
flagsurl0     = $[top]/config/flags/Example-gcc4x-flags-revA.xml
flagsurl1     = $[top]/config/flags/Example-linux-platform-revA.xml
reportable    = yes
teeout        = yes
teerunout     = yes
hw_avail      = Dec-9999
license_num   = 0
test_sponsor  = Test Sponsor (Optional, defaults to hw_vendor)
tester        = (Optional, defaults to hw_vendor)
output_root   = /home/gciotto/workspace/MO601-117136/Projeto-1/item-d/5.ref.base.1

# These bind settings are configured for a 2 socket system
# with 4 cores per socket - you might need to adjust these
# for your specific platform.
bind0  = numactl -m 0 --physcpubind=0
bind1  = numactl -m 0 --physcpubind=1
bind2  = numactl -m 0 --physcpubind=2
bind3  = numactl -m 0 --physcpubind=3
bind4  = numactl -m 1 --physcpubind=4
bind5  = numactl -m 1 --physcpubind=5
bind6  = numactl -m 1 --physcpubind=6
bind7  = numactl -m 1 --physcpubind=7


#### ACCORDING TO CLASS

use_submit_for_speed = 1

submit = $BIND /home/gciotto/pin-3.0-76991-gcc-linux/pin -t /home/gciotto/workspace/MO601-117136/Projeto-1/item-d/obj-intel64/most-used-ins.so -o /home/gciotto/workspace/MO601-117136/Projeto-1/item-d/most-used-ins.tmp.log -- $command

### DEFAULT submit = $BIND $command

# We've encounterd a bug in numactl on SLES 10 where it interprets a
# benchmark's args as it's own.  If your perlbench, gcc, soplex, gromacs, etc
# runs abort, try using the following submit command
#submit       = echo "$command" > run.sh ; $BIND bash run.sh


default=default=default=default:
#####################################################################
#
 # Compiler selection
#
#####################################################################
# NOTE: The path may be different if you use the compiler from
#       the gnu site.
CC                 = /home/gciotto/usr/bin/gcc
CXX                = /home/gciotto/usr/bin/g++
FC                 = /home/gciotto/usr/bin/gfortran

## HW config
# default sysinfo is expected to write hw_cpu_name, hw_memory, hw_nchips,
# hw_disk
hw_model           = System Model Name
hw_cpu_char        =
hw_cpu_mhz         = 9999
hw_fpu             = Integrated
hw_ncores          = number of cores enabled
hw_ncoresperchip   = number of cores manufactured into each chip
hw_nthreadspercore = number of threads enabled per core
hw_ncpuorder       = 1,2 chips
hw_pcache          = 9999 KB I + 9999 KB D on chip per core
hw_scache          = 9999 KB I+D on chip per core
hw_tcache          = 9999 MB I+D on chip per chip
hw_ocache          = None
hw_vendor          = System Vendor
hw_other           = None

## SW config
# default sysinfo is expected to write prepared_by, sw_os, sw_file, sw_state
# Descriptions of the different compilers tested
sw_compiler        = gcc, g++ & gfortran 4.3.4
#sw_compiler        = gcc, g++ & gfortran 4.4.4
#sw_compiler        = gcc, g++ & gfortran 4.6.0
# For SLES11 SP1
sw_avail           = May-2010
# For RHEL6
#sw_avail           = Oct-2010
# For gcc 4.6
#sw_avail           = Mar-2011
sw_other           = None
sw_base_ptrsize    = 64-bit
sw_peak_ptrsize    = 64-bit

#####################################################################
# Notes
#####################################################################
notes_submit_000 ='numactl' was used to bind copies to the cores.
notes_submit_005 =See the configuration file for details.

notes_os_000 ='ulimit -s unlimited' was used to set environment stack size

#####################################################################
# Optimization
#####################################################################


###### Original optimization configuration 
default=base=default=default:
COPTIMIZE   = -O2 -fno-strict-aliasing
CXXOPTIMIZE = -O2 -fno-strict-aliasing
FOPTIMIZE   = -O2 -fno-strict-aliasing

###### GCC 6.1-compatible optimization configuration 
#default=base=default=default:
#COPTIMIZE   = -fno-strict-aliasing
#CXXOPTIMIZE = -fno-strict-aliasing
#FOPTIMIZE   = -fno-strict-aliasing

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
PORTABILITY    = -DSPEC_CPU_LP64

#####################################################################
# Portability Flags
#####################################################################

400.perlbench=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
CPORTABILITY   =  -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY = -DSPEC_CPU_LINUX

481.wrf=default=default=default:
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX

__MD5__
401.bzip2=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:16:27 2016
optmd5=1d7c8a9d52790af7a3390148f38e34b7
baggage=
compile_options=\
@eNqtUNFOgzAUfe9XNH2vRGN8IGPJKLigjDYOHvSFsFpmdWtNW0z8ewvLwoyBJ0/uw21677nnnEIr\
fGw+RCsPAupPJ7WyIbDOSO5q06lXaeovYWT7HaFrBAjdsBAGb/oogj2X2jkddNYEO6n8m0PsS595\
rjTEyZalpCas8m2RpHG1hh6Y3kDcKo1Ph3BzkI2Vag9PGLfqnN3dwjMWVneGiyUgISQkQpM60DBB\
4wfKygj9EoWAN+CZ7/PVeuv//gpEgPbLrMw22UvqRybEDkyMPpWrOMuz8vmSbNCNQJ4Vj3NxzSUx\
EcJC794Fd3YJR4zuet95MpvMv5kbTtGqD/gi3R/Zk7H3
exemd5=15382ccb31379a27a7559dac7c279c53

403.gcc=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:18:12 2016
optmd5=53bb0c6b0a78e508d91184b390dbdd63
baggage=
compile_options=\
@eNqtUU1PhDAQvfMrmt4L0RgPZNkECu5WgTYuHPTSsFjWKlDDh4n/3gIhu2YDJyc9tNN58+a9iVWN\
quxTFLIUQH11UtWtbbRdI/OON339Jhv+LRpZ/DjwBhqYRswG1ruqhHXKpeo6ZfVtYx1lrd85QPqo\
uY+pAPIPLMAcs1RfYz/w0h1AxAQAIHoLUFErNHGhrJRZK+sTmOIM5CG7vwNzbFrVN7nYGtgGGDtw\
cRQ4VlDvkbLEgX/mgobWoDs/hO7uoP+uZxwrvCDGez4XERMadOjIEhKR10CnFhSMYEafE9cjIUle\
LhlGMdAISfy0ZuOaPQvObNTxQ+Rdux3AZTWnz6oHP0J/1bF/06epIjfZ85B4g3dlBSd2mg67uFjE\
L/0vvYc=
exemd5=e9af3732cd1116beba39e2b9bb959e9f

429.mcf=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:18:13 2016
optmd5=a4fdc6cb3fb6f2bb49a526cfeacf941b
baggage=
compile_options=\
@eNqtUcFOhDAQvfMVTe9INMYDWTaBgrtooc1SYvTSsAhrFVoDrIl/b4Hgrho4OelhOn2dN+9NrKRZ\
Z29FKaoCqPdOKNnaRts1Iu94c5TPouEfRSPKTwdeQgORiNrAelF1YR1yobpOWce2sfZC6nsOTH3U\
1OdCAdNPaIA4oqlOYz/w0g3Q2YMbM54wH3G6I4zoErkCZimVOTKbWSWyVsgDGOPUhmN6cw2mWLXq\
2OTF2kA2QMiBs4PBAUG8O0KZA39MCQ2tSHe+xe4m0W9/Jx4QXhCjLUffqF8SoEF6AsrCKHwKNGBG\
0NCLkh1zvRCH7PGccNAGDRzG90seL7k1Y9RK7V+LvGvX/eeqnsonE3p7sL9o4L/p01SRy7Ych17v\
ZFXDkZ2k/WrO9vIFhdLG2A==
exemd5=eab20f9feb38fe54fbbb0f326993dc24

445.gobmk=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:18:44 2016
optmd5=54a8e8ae0c8424e9380cb7f8927ba2fb
baggage=
compile_options=\
@eNqtUd9rwyAQfs9fIb7bsDH2UNpCYtPELY2ypoPtRdrUdG6JjvwY7L+fJqTtKC0Mdqjc6Xnffd8l\
WqFy8yFyWQigPxupVT126qaSWcOrVu1kxb9EJfPvKbyBDqZLNgbumy6Fu8+kbhrttnXlbqUycQaQ\
WXqoM9IAzVcswByztXGTeeCvQ+NE3nPAMU0WJOQRQGRkd3+4UmVFuxM2OPgAIHoLUK406jtDm0Ju\
aqn2oLcjDI/Z/R0YbFLrtsrEzMFjgPEUXmwcdhnUf6AsncJfLKBjGJvKi9gLV+btnFGX4QcJjvgh\
6Y8UoUMtPkvJkrwGpsAFvh0Uo0+p55OYpC+n/XTUoROT5PHaiK6JeUHHid6+i6ypZ/ZzUQ7XR42s\
evH8qr7/xs9ALb004jHxrdJFCXt0uraTOxnbD24F2AU=
exemd5=426adaa24be3626daf0544b87b853f83

456.hmmer=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:18:57 2016
optmd5=e7ffb55b4711d8cbf0ae8d5eeae18ad4
baggage=
compile_options=\
@eNqtkEtPhDAUhff9FU33lWiMCzJMwsuxWmjjwEI3hEEYq0ANLSb+ewuEzJgJrLzpoq977jlfLFvc\
5J9lJeoSyi8tZKtsoHQnCp11ffsmuuy77ET146BrBHwWcRta77IprWMhpNbS6lVnHURrzgXEZslZ\
50pCHOx56Gc+T802DkIv3UFTmN1AXLUST4NwXotcifYIpzp1ZZTf3cK5Nkr2XVFugW9D33fQog80\
/mDeI+OJg/6YQsAEMMr31N3tzdulQQTY0MwTEpHX0HxZMDsqcfacuB6hJHk5Fxt9I0BJ/LSGa43E\
AoSNPHyUhVbboblu5utTwCE6DVbh/Fs+Mypyk4eMEm9gWTdoms7SAfsZ819yhrfe
exemd5=ef9eb4056785d8f8e9845441ee94c0dd

458.sjeng=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:19:03 2016
optmd5=1d7c8a9d52790af7a3390148f38e34b7
baggage=
compile_options=\
@eNqtUNFOgzAUfe9XNH2vRGN8IGPJKLigjDYOHvSFsFpmdWtNW0z8ewvLwoyBJ0/uw21677nnnEIr\
fGw+RCsPAupPJ7WyIbDOSO5q06lXaeovYWT7HaFrBAjdsBAGb/oogj2X2jkddNYEO6n8m0PsS595\
rjTEyZalpCas8m2RpHG1hh6Y3kDcKo1Ph3BzkI2Vag9PGLfqnN3dwjMWVneGiyUgISQkQpM60DBB\
4wfKygj9EoWAN+CZ7/PVeuv//gpEgPbLrMw22UvqRybEDkyMPpWrOMuz8vmSbNCNQJ4Vj3NxzSUx\
EcJC794Fd3YJR4zuet95MpvMv5kbTtGqD/gi3R/Zk7H3
exemd5=67156f72c132d693e7ea127f05e4945f

462.libquantum=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:19:05 2016
optmd5=c20883ecc8d84b08825810a0ee75fdf3
baggage=
compile_options=\
@eNq9UdFOgzAUfe9XNH2vRGN8IGMJdDhRoI2DRH0hDMusAjVQTPx7W9iyLQbikzdN2puee+6558ay\
wXX+wUtRcSg/lZBNZ4NOtaJQWds3r6LNvngrym8HXSJAaMRsaL3Jmlu7QkilpNV3rbUVjc4LiPWR\
B54LCfFqw3ySEZbqZ7zyvXQNdWB6BXHZSDw2wnkl8k40OzjGsSoL2c31WR7E6dMeBhed7NuCLwGx\
ISEOmtSFBgT17ilLHHQmEgE9kGa+Dd31Rv/9FowANcUsCaLgxdeQCfEDE6OPiesFYZA8n5INc+xb\
TSHMZAjo62HO4Tnz/ujbQm7feaG6pSGr6oObR0+MW+Fq1s//tESridzkTqee2VBVo1EgTc0yTzb5\
A0WS1Lw=
exemd5=06ad8a7acd8ccffc4a3719826a7fd167

464.h264ref=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:19:27 2016
optmd5=e7ffb55b4711d8cbf0ae8d5eeae18ad4
baggage=
compile_options=\
@eNqtkEtPhDAUhff9FU33lWiMCzJMwsuxWmjjwEI3hEEYq0ANLSb+ewuEzJgJrLzpoq977jlfLFvc\
5J9lJeoSyi8tZKtsoHQnCp11ffsmuuy77ET146BrBHwWcRta77IprWMhpNbS6lVnHURrzgXEZslZ\
50pCHOx56Gc+T802DkIv3UFTmN1AXLUST4NwXotcifYIpzp1ZZTf3cK5Nkr2XVFugW9D33fQog80\
/mDeI+OJg/6YQsAEMMr31N3tzdulQQTY0MwTEpHX0HxZMDsqcfacuB6hJHk5Fxt9I0BJ/LSGa43E\
AoSNPHyUhVbboblu5utTwCE6DVbh/Fs+Mypyk4eMEm9gWTdoms7SAfsZ819yhrfe
exemd5=4d68890073b64813cb59a3c0111d1d60

471.omnetpp=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:20:08 2016
optmd5=053319e2b318c3bde3f3773e94036b84
baggage=
compile_options=\
@eNqtUdFOwjAUfd9X3PSVlEZjfCBAwsbE6VgbGQn6ssDoZnW0pu1I/Hu7IYJR8MWbNGlzT88959xE\
SbxZvvJCVBzUmxVKmp5nrBa5zXQt10JnW65F8T5AF8gL6JT1gDyrDSdlLpS1itRGk5WQpOx0AOeA\
1Z6nqwCPZywMsoDN3TUZh/58AjjquqM2kttMyLyq19y9K7EyhMut0ACA6SXgQiq8E4KXlVgaIcum\
9cWYxez6CnbVN6rWOR96QQ+CxWKATkpEnxDq31GWDtA3xchz7hz1TTyazFzvp/oW4YdJcJvtQX/Y\
QR7dDWRpNI2eQvfjhLuWm9GHdORHcZQ+HgtozSIvjpL7c/mfi+735KCvVi88t2YIhzok0qQVj8/m\
+Y/22mF03qzlaCcfn8/Muw==
exemd5=ff6e8f615b3da506c6951300292da72a

473.astar=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:20:11 2016
optmd5=e4d53a4790dd383d67ed6b3b065465dd
baggage=
compile_options=\
@eNqtUcFOg0AQvfMVk702K9EYD6Q0gQXrKmU3FpLqhVAEXG13DVAT/94FNIXUcnJOk523b957EyqJ\
9+l7XohdDuqjEUrWllE3lciapDrIF1Eln3klii8bXSKDsBW3wHxV+9wsM6GaRpmHujK3QprlbAY4\
A6x+eS4UYG/NfZIQHus29Hw3Xg7ekoBGUeAnfuhRJwQAzK4AF1LhXgBOdyKthSzb0eAXv7mGvua1\
OlRZvjCIBWSzsdFZaegHwtx7xiMbjZQiQ7vS1LeBs1zr2anqDuH6IblLTkBjG8hg/SIe0RV99jXy\
jKuOk7PHyHGppngac2qTyAho+DCV91RkfycGc7V9y7OmXsCxjkm0KQXeZI7/aK9bxuL2HINbfAM4\
lsSR
exemd5=264a944b49baeafa9fed3e1c9a3bd08e

483.xalancbmk=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:24:44 2016
optmd5=09fc1da5cbdc35674a638b4990902d0e
baggage=
compile_options=\
@eNrtVF1vmzAUfedXWLxWFG2q9hA1lRzwUneALQwV24tFCcm8gV1hqNp/XwMhIZsS7WV7miXE/Thc\
XZ1zTKSkU+c/y62oSqCeW6GkXli6bUTR8qaTG9Hwl7IR27el/cG2PBLSBXC/q7p0d4VQbavcTjfu\
k5Du7uoKOAVw1DTnWgHHZxR53KOpCSMfrdI1MBGklEeEJ/cxgj4zhQwGMOI4ClHIQ7bmAYE+ioGD\
r83zWjZFqYtj5G5UfZq5on6uZiWdv86yrhWVG+pdoPJN2WgXy7CsVfP2KyRpcqkLNWIKJV96QF7l\
snCFLKpuU5pVaUweeBYGFMasX/FQSBMcTOnYZFPKYHbjzZKPU+yTcAofYYB9mJDhKzOOpwzxCCb4\
EfEkhhHzyEDJobdnCzEG12hPGHCImb2VyhkldPJK5FrIHQAzLXhAP92c5DhKMzCcW606Q8md5S2A\
l2VL+6zY9h5CVg+EJkv7RHvbMj4xoz8HcM1M73cfDIgVirx7boYccP+t8XesYVtkVIsmOMTfkOH6\
jFUGYSiJE7jCAU6+ztUbnDNqm2VnMb2bbMu8vlz6V1wy6595Fdyqpx9l0eo7cDxHD/b+DPyLDv7X\
nAwbkbS/LbOr8g7XE7GB
exemd5=8142ffbc292d2c43f7b288ca77d2430c

999.specrand=base=gcc43-64bit=default:
# Last updated Mon Aug 29 22:24:45 2016
optmd5=1d7c8a9d52790af7a3390148f38e34b7
baggage=
compile_options=\
@eNqtUNFOgzAUfe9XNH2vRGN8IGPJKLigjDYOHvSFsFpmdWtNW0z8ewvLwoyBJ0/uw21677nnnEIr\
fGw+RCsPAupPJ7WyIbDOSO5q06lXaeovYWT7HaFrBAjdsBAGb/oogj2X2jkddNYEO6n8m0PsS595\
rjTEyZalpCas8m2RpHG1hh6Y3kDcKo1Ph3BzkI2Vag9PGLfqnN3dwjMWVneGiyUgISQkQpM60DBB\
4wfKygj9EoWAN+CZ7/PVeuv//gpEgPbLrMw22UvqRybEDkyMPpWrOMuz8vmSbNCNQJ4Vj3NxzSUx\
EcJC794Fd3YJR4zuet95MpvMv5kbTtGqD/gi3R/Zk7H3
exemd5=7fcfa02f4c2903c7a66ca84519993f23

433.milc=base=gcc43-64bit=default:
# Last updated Tue Aug 30 16:05:49 2016
optmd5=152c28e73d4a4a6a16d83a8b49c26bfe
baggage=
compile_options=\
@eNqtUVFrgzAQfvdXhLynsjH2UGpBo23d1IQmHWwvoXW2y6ZmaBzs3y9RpC2jfRg7QpK7XO6777tM\
1ajafhR7WRZAfWqp6nbqtLqRuRZNV7/KRnwVjdx/e/AGOpikdArcN1UV7iGXSmvldm3j7mRt/Bwg\
s9RYZ6IAChmNsMB0Y65ZGAWbJUDxxDiLzG4+4+bAJFuu/VDwlIqnCHOyZiYassRnqz6YxNkjAwAg\
cgvQvlZoaBBtS7ltZX0Agx3RRELv78Bos1Z1TV7MHTwFGHvwYv+wzyDBA6Hcg2dkoGOIm8qLxF8y\
8/abWJ8RRBleiTHpj0yhQ2wblMdp/BKZOhdo94iUrLkfxEnMn0/b6hWAjq13bWDXNL0g50zt3otc\
t3P7uazG8FEqK2ISXpX53/gZqNTnK6NbYAUvKzigk40d4Mn0fgB3xNsX
exemd5=5e0bd82ef86cd4a70e9a35068e97e820

444.namd=base=gcc43-64bit=default:
# Last updated Tue Aug 30 16:06:20 2016
optmd5=4c0eaacd76e0136d2797ae06eb7b2cf9
baggage=
compile_options=\
@eNqtkM1OwzAQhO9+CsvXykRFiEPUVGp+qAJpbNFEarlEaXCCobWR7SDx9jgJ0CJoTuxppd2d/WZS\
KfChfGE13zMoXw2XQrtAG8UrU6hWPHJVvDHF63cPTREIyIq60HmSB+Y0FZfGSKfVytlx4TSTCcQV\
xPJL50JCHK5pFBQBzW2bhpGfL6EtTC4hroXEwyNc7nmpuWi60fdFkdDrKzjUTMtWVWwOAhcGm42H\
ziKgzxXi3xKaeegHEQKW3krfJIvl2s5+0yFAhnOaxav4IbJLZ1h7LUrus4UfJ3G2PZXr0RFI4vRu\
LK2xIP7OAc7k7plVRs/hsY7+Ou9JOJrOP9rrn5G8C/kk4Q+1PLH0
exemd5=9f45ebd04aa52ec96a843a1e9fa00bc4

447.dealII=base=gcc43-64bit=default:
# Last updated Tue Aug 30 16:10:10 2016
optmd5=ffca5bead933e37b565b6937ba54a8cf
baggage=
compile_options=\
@eNqtUVtPwjAUft+vOOkrqYuX+EAYyW5CdawLGwn60oytYHW0Zt1M/PeWIWFG4cF4nppzTr/biZXE\
2/yVr0XFQb01Qkk9tHRTi6JhdStLUbN3Xov1h4MukeXTWTIE+1ltub0phGoaZbe6tldC2pvBAHAB\
WB1wLhTgIE1Cn/nJwjzjIPQWEwBMhCyqtuSm51GaZiwgqetFIcum89ANUtMveV4xQlgptlxqg+Zc\
m4/0CvBaKrzXh/NK5FrIDUCPiEXJ7Q3sa6RVWxd8bPlD8JdLB51Ujr5WqHdPk8xB34wgy5g20HeR\
O0nN7KepbsMLY3/KDMhh728+kUX3UpKMzMhTaIBO+O5YEzrPXI9EJHvsS+tiQFZE4odzBzsX6u+Z\
wkitXnjR6DEc65jVLscoOJv0P9rryOhid7DetT4Bx5rbAA==
exemd5=00459b905de6fa77ccf922c62fa04bee

400.perlbench=base=gcc43-64bit=default:
# Last updated Wed Aug 31 15:37:18 2016
optmd5=f5fa77b6beb4a74eef87eee55e6c2d7f
baggage=
compile_options=\
@eNq9UU1rhDAQvfsrQu6pdCk9yLqg0e7aqgmuwraX4FrdplVT/Cj03zfquh8UhV465DAzGd6898YX\
JSrijzTjeQrEZ8NFWWtK3VQ8aVjVlq+8Yl9pxbNvHd5CBROPakB9E0WqHhIumkaobV2pe17KOgFI\
PjHi3AiArC21McM0kqlv2Wa0lgm1A5dhEtgAAEQWAGWlQMNOFOc8rnl5AEOcAZhL7++uasePdmwn\
m8dY1qKtknSlYA1grMNJmrCfIOYjoaEOrzhDReqT6A+usd7Kv9/8+wnT9vGGnYZOgqBCOmQaOp7z\
YsuvCXU9CCVBaJiO64TPl5t6oUceUxOjdKjI9GnuInMO/8Hcpdi/p0lTrzrAvBgtPxvXWepas6b/\
tzWSkWeEG9kyuyvlBRxIkqi7+sXJfwDpcOP5
exemd5=1e76a13969009a6e96404928ac621519

